_minted/*
# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv
*.pdfsync
*.dvi
*.ps
*.ilg
*.ind
*.idx
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.run.xml
*.bcf
*.thm
*.tdo
*.upa
*.upb
*.spl
*.slg
*.slo
*.sbl
*.sbx
*.synctex
*.lof
*.lot
*.lol
*.lsg
*.nav
*.snm
*.vrb
*.synctex.gz(busy)
*.synctex(busy)
*.pdf
# End of LaTeX temp files